{% extends 'base.html.twig' %}

{% block title %}Edit SnowData{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Editer donnée neige</h1>

    {{ include('snow_data/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_snow_data_index') }}" class="btn btn-primary">retourner à la liste</a>

    {{ include('snow_data/_delete_form.html.twig') }}
</div>
{% endblock %}
